vendor/
data/data.csv
data/real-data.csv
data/real-data.json
data/real-data-expected.json
data/real-data-actual.json
data/data.json
test-data-actual.json
.idea
.tempest
.env
.DS_Store
.benchmark
debug.php
test.php
benchmark.sh
gere-Parser.php
gere-tempest
mine_Parser.php
mine_tempest
mine_tempest:Zone.Identifier
parse.php
slug.sh
tempest:Zone.Identifier
uselessfile.json